body{
  padding:0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  aligh-intems: center;
}


.navbar{
  position: sticky;
  display: flex;
  padding:0px;
  margin-bottom: 10px;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}
.navbar ul{
  display: flex;
  justify-content: space-around;
}
.nav-item{
  list-style: none;
  margin:0 8px 0 8px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: red 0px;
  border-radius: 6px;
  text-decoration: none;
}
.nav-item:hover{
  background-color: red;
  color: white;
}
.slideshow-container{
  margin:auto;
  padding: 0;
  overflow: hidden;
  width:100%;

  position:relative;
}
.slideshow{
  display: flex;
  padding:0;
  margin:0;
  list-style:none;
  width:300%;
  height: 50vh;
  animation: slide 12s infinite;
}
.slide{
  min-width: 100%;
  height: 50vh;
  transition: transform 0.5s ease-in-out;
}
.slide img{
  width:100%;
  height: 100%;
  object-fit: contain;
  text-align: center;
  color: white;
  display: block;
 
}
.overlay-text{
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 25px;
  color:white;
  text-align: center;
  opacity: 100;
  transition: opacity 0.5s ease;
}
.slide:nth-child(1) .overlay-text {
  animation: textFadeIn 12s infinite;
}


@keyframes slide { 
  0% { transform: translateX(0%); } 
  33% { transform: translateX(0%); } 
  38% { transform: translateX(-100%); } 
  71% { transform: translateX(-100%); } 
  76% { transform: translateX(-200%); } 
  100% { transform: translateX(-200%); } 
}

.box12{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.box121{
  display: felx;
  width: 50%;
  flex-direction: column;
}
.kbox{
  display: flex;
  aligh-items: center;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  
}
.kd1{
  padding-left: 15px;
  padding-right: 15px;
}
.campus{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  aligh-items: center;
}
.campus-images{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  aligh-items: center;
}
.rankings{
  dislplay: flex;
  width: 50%;
  flex-direction: column;
}
.footer1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  aligh-items:center;
  background-color: black;
  color: white;
  width: 100%;
  height: 120px;
}
